:root {
  /* Torchbox theme colors */
  --color--white: #fff;
  --color--grey-5: #efefef;
  --color--grey-20: #ccc;
  --color--grey-50: #808080;
  --color--grey-70: #4d4d4d;
  --color--eclipse-light: #f7f7f7;
  --color--eclipse: #1d2325;
  --color--black: #000;
  --color--coral: #ee5276;
  --color--coral-dark: #be425e;
  --color--sky: #659ff2;

  --font--primary: "Outfit", sans-serif;

  --content-width: 720px;

  --photo-size: 160px;
}

/* --- Map tokens to Material variables --- */
:root {
  --md-primary-fg-color: var(--color--eclipse);
  --md-accent-fg-color: var(--color--coral-dark);

  --md-text-font: var(--font--primary);

  --md-typeset-a-color: var(--color--coral);
}

/* --- Typography --- */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--color--eclipse);
}

.md-typeset h1 {
  font-size: 50px;
  line-height: 1.1;
}

.md-typeset h2 {
  font-size: 38px;
  line-height: 1.1;
}

.md-typeset h3 {
  font-size: 28px;
  line-height: 1.4;
}

.md-typeset p {
  font-size: 19px;
  line-height: 1.4;
  color: var(--color--grey-70);
}

.md-typeset .intro {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 300;
  color: var(--color--eclipse);
  margin-bottom: 40px;
}

.md-typeset .glossary-term {
  border-bottom: 2px dotted var(--color--coral);
}

.md-nav .md-nav__title {
  font-size: 18px;
  color: var(--color--eclipse);
}

.md-nav--primary {
  font-size: 16px;
}

.md-nav--secondary {
  font-size: 14px;
}

@media (min-width: 1220px) {
  .md-typeset h1 {
    font-size: 80px;
  }

  .md-typeset h2 {
    font-size: 54px;
  }

  .md-typeset h3 {
    font-size: 32px;
  }

  .md-typeset p {
    font-size: 21px;
  }

  .md-typeset .intro {
    font-size: 32px;
  }
}

/* --- Links --- */
.md-typeset a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* --- Layout --- */
.md-main {
  margin-bottom: 120px;
}

.md-content {
  max-width: var(--content-width);
}

/* --- Header title override --- */
.md-header__topic .md-ellipsis {
  position: relative;
  visibility: hidden;
}

.md-header__topic .md-ellipsis::after {
  content: "Constitution";
  color: var(--color--coral);
  position: absolute;
  left: 0;
  top: 1px;
  visibility: visible;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
}

/* --- Footer --- */
.md-footer {
  background-color: var(--color--eclipse-light);
  color: var(--color--grey-70);
}

.md-footer-meta {
  background-color: unset;
}

.md-footer-meta.md-typeset .md-social__link {
  color: var(--color--grey-70);
}

.md-footer-meta.md-typeset .md-social__link:hover,
.md-footer-meta.md-typeset .md-social__link:focus {
  color: var(--color--eclipse);
}

.md-footer-meta .md-social__link svg {
  max-height: 1.3rem;
  vertical-align: middle;
}

/* --- Buttons / links --- */
.md-top {
  color: var(--color--eclipse);
}

/* --- Navigation  --- */
@media (min-width: 1220px) {
  .md-nav__title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.md-nav__link--active {
  font-weight: 650;
}

/* --- Background swirls --- */
.swirls {
  position: absolute;
  display: none;
}

@media (min-width: 1220px) {
  .swirls {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.swirls__container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1512 / 1239;
}

.swirls__icon {
  position: absolute;
}

/* --- Trustees --- */
.trustees {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 3rem 0;
}

@media (min-width: 640px) {
  .trustees {
    grid-template-columns: repeat(3, 1fr);
  }
}

.trustee {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .trustee {
    flex-direction: column;
    gap: 0;
  }
}

.avatar {
  height: 120px;
  width: 120px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (min-width: 640px) {
  .avatar {
    height: 150px;
    width: 150px;
  }
}

.avatar .avatar__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar::after,
.avatar::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.avatar::before {
  border: 1px solid var(--color--sky);
  width: 102%;
  height: 103%;
  inset: -3px 2px;
}

@media (min-width: 640px) {
  .avatar::before {
    width: 95%;
    height: 95%;
    border-width: 2px;
    inset: 2px -3px;
  }
}

.avatar::after {
  border: 2px solid var(--color--coral);
  height: 95%;
  width: 95%;
  inset: 2px 3px;
}

@media (min-width: 640px) {
  .avatar::after {
    width: 102%;
    height: 103%;
    border-width: 3px;
    inset: -5px -4px;
  }
}

.md-typeset .trustee__name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color--eclipse);
  margin-bottom: 0;
}

.md-typeset .trustee__role {
  font-size: 16px;
  color: var(--color--eclipse);
  margin-top: 0;
}
