:root {
  /* Torchbox theme colors */
  --color--white: #fff;
  --color--grey-5: #efefef;
  --color--grey-20: #ccc;
  --color--grey-50: #808080;
  --color--grey-70: #4d4d4d;
  --color--eclipse: #1d2325;
  --color--black: #000;
  --color--coral: #ee5276;
  --color--coral-dark: #be425e;
  --color--sky: #659ff2;

  --font--primary: "Outfit", sans-serif;

  --content-width: 720px;

  --photo-size: 160px;
}

/* --- Map tokens to Material variables --- */
:root {
  --md-primary-fg-color: var(--color--eclipse);
  --md-accent-fg-color: var(--color--coral);

  --md-text-font: var(--font--primary);

  --md-typeset-a-color: var(--color--coral);
}

/* --- Typography --- */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--color--eclipse);
}

.md-typeset h1 {
  font-size: 50px;
  line-height: 1.1;
}

.md-typeset h2 {
  font-size: 38px;
  line-height: 1.1;
}

.md-typeset h3 {
  font-size: 28px;
  line-height: 1.4;
}

.md-typeset p {
  font-size: 19px;
  line-height: 1.4;
  color: var(--color--grey-70);
}

.md-typeset .intro {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 300;
  color: var(--color--eclipse);
  margin-bottom: 40px;
}

.md-typeset .glossary-term {
  border-bottom: 2px dotted var(--color--coral);
}

.md-nav .md-nav__title {
  font-size: 18px;
  color: var(--color--eclipse);
}

.md-nav--primary {
  font-size: 16px;
}

.md-nav--secondary {
  font-size: 14px;
}

@media (min-width: 1220px) {
  .md-typeset h1 {
    font-size: 80px;
  }

  .md-typeset h2 {
    font-size: 54px;
  }

  .md-typeset h3 {
    font-size: 32px;
  }

  .md-typeset p {
    font-size: 21px;
  }

  .md-typeset .intro {
    font-size: 32px;
  }
}

/* --- Links --- */
.md-typeset a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* --- Layout --- */
.md-main {
  margin-bottom: 120px;
}

.md-content {
  max-width: var(--content-width);
}

/* --- Header title override --- */
.md-header__topic .md-ellipsis {
  position: relative;
  visibility: hidden;
}

.md-header__topic .md-ellipsis::after {
  content: "Constitution";
  color: var(--color--coral);
  position: absolute;
  left: 0;
  top: 1px;
  visibility: visible;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
}

/* --- Buttons / links --- */
.md-top {
  color: var(--color--eclipse);
}

/* --- Navigation  --- */
.md-nav__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.md-nav__link--active {
  font-weight: 650;
}

/* --- Background swirls --- */
.swirls {
  position: absolute;
  display: none;
}

@media (min-width: 1220px) {
  .swirls {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.swirls__container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1512 / 1239;
}

.swirls__icon {
  position: absolute;
}

/* --- Draft photo grid --- */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, var(--photo-size));
  grid-auto-rows: var(--photo-size);
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 1.5rem;
}

.image-grid__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
